<div class="center hero-unit">
  <h1>МОЛИТВА ЗА ДРУГА</h1>

  <h2>"Носіть тягарі один одного, і тим самим виконаєте закона Христового"
                                                             (Галатів 6.2)<h2>

    <%= link_to "Залиште ваше молитовне прохання тут", '#', class: "btn btn-large btn-primary" %>
    <%= link_to "Список молитовних прохань", spysoks_new_path, class: "btn btn-large btn-primary" %>
</div>
